@font-face {
  font-family: sspr;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

.Container {
  /* formatting */
  width: 100%;
  overflow: hidden;
  height: 100%;

  /* design */
  color: #4f2683;
}

.PictureDiv {
  /* formatting */
  height: 90vh;
  width: 70%;
  float: left;
  position: relative;
  overflow-y: hidden;

  /* design */
  background-image: url("../Images/AssignInstructorBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.LoginDiv {
  /* formatting */
  width: 30%;
  height: 90vh;
  float: right;
  position: relative;
  text-align: center;

  /* design */
}

.COM {
  /* formatting */
  margin-top: 6%;
  margin-left: 3vw;
  text-align: left;
  width: 80%;

  /* design */
  color: #797979;
  border-bottom: 2px solid rgba(104, 104, 104, 0.2);

  font-size: 2vw;
}

.ListTitle {
  /* formatting */
  width: 100%;
  text-align: left;
  margin-left: 3vw;
  margin-bottom: 10px;

  /* design */
  font-size: 24px;
  font-weight: bold;
  color: #4f2683;
}

.Display {
  /* formatting */
  width: 80%;
  height: 4.5vh;
  margin-bottom: 5vh;
  padding-left: 10px;
  padding-right: 10px;

  /* design */
  background-color: #d9d9d9;
  color: #797979;
  border: none;
  border-radius: 5px;
  font-family: sspr;
  font-size: 1.1vw;
}

.AssignBtn {
  /* formatting */
  width: 10vw;

  /* design */
  background-color: #4f2683;
  color: #ffffff;
  font-size: 1.1vw;
  width: 10vw;
  height: 5vh;
  border: none;
  border-radius: 5px;
  font-family: sspr;
  transition: 0.3s;
}

.AssignBtn:hover {
  /* design */
  background-color: #7238bb;
  cursor: pointer;
}

footer {
  /* formatting */
  position: absolute;
  margin-bottom: 1%;
  bottom: 0;
  left: 0;
  right: 0;

  /* design */
  color: #4f2683;
  font-size: 2vh;
}
