.Container {
  /* formatting */
  width: 100%;
  overflow: hidden;
  height: 100%;

  /* design */
  color: #4f2683;
}

.PictureDiv {
  /* formatting */
  height: 90vh;
  width: 70%;
  float: left;
  position: relative;
  overflow-y: hidden;

  /* design */
  background-image: url("../Images/AssignInstructorBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.LoginDiv {
  /* formatting */
  width: 30%;
  height: 90vh;
  float: right;
  position: relative;
  text-align: center;

  /* design */
}

.COM {
  /* formatting */
  margin-top: 6%;
  margin-left: 3vw;
  text-align: left;
  width: 80%;

  /* design */
  color: #4f2683;
  border-bottom: 2px solid #4f2683;
  font-size: 2.4vw;
}

.ListTitle {
  /* formatting */
  width: 100%;
  text-align: left;
  margin-left: 3vw;
  margin-bottom: 10px;

  /* design */
  font-size: 24px;
  font-weight: bold;
}

.Display {
  /* formatting */
  width: 80%;
  height: 4vh;
  margin-bottom: 5vh;

  /* design */
}

.AssignBtn {
  /* formatting */
  width: 10vw;

  /* design */
}

footer {
  /* formatting */
  position: absolute;
  margin-bottom: 1%;
  bottom: 0;
  left: 0;
  right: 0;

  /* design */
  color: #4f2683;
  font-size: 2vh;
}
