@font-face {
  font-family: sspr;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

body {
  font-family: sspr;
  margin: 0%;
}
.ContainerDiv {
  /* formatting */
  width: 100vw;
  height: 100vh;

  width: 70%;
  float: left;

  position: relative;
  overflow-y: hidden;

  /* design */
  background-image: url("../Images/LoginBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /* background-size: cover; */
}

.LoginDiv {
  width: 30%;
  float: right;
  height: 100vh;
  position: relative;

  text-align: center;
}

.Container {
  width: 100%;
  overflow: hidden;
}

.WesternLogo {
  margin-top: 12vh;
  width: 25vw;
}

.COM {
  margin-top: 0%;
  color: #4f2683;
  font-size: 2.4vw;
}

form {
  margin-top: 12vh;
}

footer {
  color: #4f2683;

  position: absolute;
  bottom: 0;
  margin-bottom: 1%;
  left: 0;
  right: 0;

  font-size: 2vh;
}

.EmailBox,
.PasswordBox {
  /* formatting */
  height: 5vh;
  width: 20vw;
  padding-left: 1vw;
  margin: 10px 0px;
  margin-bottom: 3vh;
  color: #797979;

  /* design */
  background-color: #d9d9d9;
  font-size: 1.2vw;
  font-family: sspr;
  transition: 0.3s;
  border-radius: 5px;
  border: none;
  outline: none;
}

.EmailBox::placeholder {
  color: #797979;
}

.PasswordBox::placeholder {
  color: #797979;
}

.AccountButton {
  /* formatting */
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 2vh;
  width: 50%;
}

.EmailBox:hover,
.PasswordBox:hover {
  /* design */
  color: #797979;
}

#loginError {
  /* design */
  margin-top: -15px;
  color: red;
}

.LoginBtn {
  /* design */
  margin-top: 15px;
  background-color: #4f2683;
  color: #ffffff;
  position: relative;
  font-size: 1.1vw;
  font-family: sspr;
  border-radius: 5px;
  width: 7vw;
  height: 5vh;
  transition: 0.3s;
  border: none;
}

.LoginBtn:hover {
  /* design */
  background-color: #7238bb;
  cursor: pointer;
}

.version {
  font-size: 2vh;
  color: #4f2683;
}
