body {
  /* formatting */
  margin: 0%;
}
.ContainerDiv {
  /* formatting */
  width: 100vw;
  height: 100vh;

  position: relative;
  overflow-y: hidden;

  /* design */
  background-image: url("../Images/LoginBackground.jpg");
  background-size: cover;
}

.MainDiv {
  /* formatting */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;

  /* design */
  background-color: #050f16de;
  border-color: rgb(255, 0, 0);
  border-radius: 30px;
}

.EmailBox,
.PasswordBox {
  /* formatting */
  height: 50px;
  width: 300px;
  padding-left: 15px;
  padding-bottom: 20p;
  margin: 10px 0px;

  /* design */
  background-color: #ffffff;
  font-size: 20px;
  font-family: Asap-Condensed-Regular;
  transition: 0.3s;
  border-radius: 10px;
}

.AccountButton {
  /* formatting */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.EmailBox:hover,
.PasswordBox:hover {
  /* design */
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#loginError {
  /* design */
  color: red;
}

.LoginBtn {
  /* design */
  background-color: rgba(7, 89, 243, 0.651);
  color: #d3d3d3;
  position: relative;
  font-size: 16px;
  font-family: Asap-Condensed-SemiBold;
  border-radius: 10px;
  width: 120px;
  height: 45px;
  transition: 0.3s;
}

.LoginBtn:hover {
  /* design */
  background-color: #0a37ff;
  cursor: pointer;
}
