body {
  /* formatting */
  margin: 0%;
}
.ContainerDiv {
  /* formatting */
  width: 100vw;
  height: 100vh;

  width: 70%;
  float: left;

  position: relative;
  overflow-y: hidden;

  /* design */
  background-image: url("../Images/LoginBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /* background-size: cover; */
}

.LoginDiv {
  width: 30%;
  float: right;
  height: 100vh;
  position: relative;

  text-align: center;
}

.Container {
  width: 100%;
  overflow: hidden;
}

.WesternLogo {
  margin-top: 12vh;
  width: 25vw;
}

.COM {
  margin-top: 0%;
  color: #4f2683;
  font-size: 2.4vw;
}

form {
  margin-top: 12vh;
}

footer {
  color: #4f2683;

  position: absolute;
  bottom: 0;
  margin-bottom: 1%;
  left: 0;
  right: 0;

  font-size: 2vh;
}

.EmailBox,
.PasswordBox {
  /* formatting */
  height: 5vh;
  width: 20vw;
  padding-left: 1vw;
  margin: 10px 0px;
  margin-bottom: 3vh;
  color: #d3d3d3;

  /* design */
  background-color: #ffffff;
  font-size: 1.2vw;
  font-family: Asap-Condensed-Regular;
  transition: 0.3s;
  border-radius: 10px;
}

.AccountButton {
  /* formatting */
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 2vh;
  width: 50%;
}

.EmailBox:hover,
.PasswordBox:hover {
  /* design */
  background-color: #9051e2;
  color: #d3d3d3;
}

#loginError {
  /* design */
  color: red;
}

.LoginBtn {
  /* design */
  background-color: #4f2683;
  color: #d3d3d3;
  position: relative;
  font-size: 1vw;
  font-family: Asap-Condensed-SemiBold;
  border-radius: 10px;
  width: 7vw;
  height: 5vh;
  transition: 0.3s;
}

.LoginBtn:hover {
  /* design */
  background-color: #9051e2;
  cursor: pointer;
}

.version {
  font-size: 2vh;
  color: #4f2683;
}
