.downloadBTN {
  /* formatting */
  width: 120px;
  height: 45px;

  /* design */
  color: #ffffff;
  position: relative;
  font-size: 16px;
  font-family: Asap-Condensed-SemiBold;
  border-radius: 10px;
  transition: 0.3s;
  background-color: rgb(6, 31, 255);
}

.downloadBTN:hover {
  /* formatting */
  cursor: pointer;

  /* design */
  background-color: #a4161a;
  outline: #a4161a solid 2px;
}

.downloadBTN:disabled {
  /* design */
  color: #ffffff;
  position: relative;
  font-size: 16px;
  font-family: Asap-Condensed-SemiBold;
  border-radius: 10px;
  transition: 0.3s;
  background-color: rgb(132, 133, 136);
  outline: rgb(132, 133, 136);
}

.input {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Times;
  display: inline;

  padding: 6px;
  width: auto;
  min-width: 0;
  border: none;
}

.input2 {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Times;
  display: inline;

  padding: 6px;
  width: 400px;
  min-width: 0;
  border: none;
}

.input3 {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Times;
  display: inline;

  padding: 6px;
  width: 10px;
  min-width: 0;
  border: none;
}

.input4 {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Times;
  display: inline;

  /* padding: 6px; */
  width: 20px;
  min-width: 0;
  border: none;
}

input::placeholder {
  color: red;
}

.Description {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Times;
  display: inline;

  padding: 6px;
  width: 100%;
  min-width: 0;
  border: none;

  max-width: 100%;
}

@media print {
  .RemovePrint {
    display: none !important;
  }
  .header {
    display: none !important;
  }
  .Header {
    display: none;
  }
  .MainDiv {
    width: 90% !important;
    border: none !important;
  }
  .RightDiv {
    display: none;
  }
}

.MainDiv {
  border: 2px solid;
  margin-left: 5%;
  padding: 2%;
  width: 60%;
}

.Center {
  text-align: center;
}

.Header {
  margin-bottom: 5vh;
}

.RemovePrint {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

td {
  border: 1px solid;
}

.Title {
  font-size: 4vh;
  position: relative;
  margin-bottom: 4%;
  margin-left: 3%;
  border-bottom: 1px solid;
  width: 65vw;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 1vw;
  object-fit: contain;
}

.icon:hover {
  cursor: pointer;
}

.outericon {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: rgb(236, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
}

.outericon + .outericon {
  margin-left: 0.1vw;
}

.icons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 10px;
  height: fit-content;
}

.downloadBTN:disabled {
  /* design */
  color: #ffffff;
  position: relative;
  font-size: 16px;
  font-family: Asap-Condensed-SemiBold;
  border-radius: 10px;
  transition: 0.3s;
  background-color: rgb(132, 133, 136);
  outline: rgb(132, 133, 136);
}

.outericon:disabled,
.outericon[disabled] {
  display: none;
}

.Date {
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RightDiv {
  border-left: 2px solid;
  position: fixed;
  top: 0;
  right: 0;
  width: 25vw;
  height: 100%;
  background-color: #fff;
}

.CommentContainer {
  height: 89vh;
  width: 99%;
  overflow-y: scroll;
}

.Comment {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid black;
  padding: 10px;
}

.CommentDetails {
  font-size: 0.8em;
  color: gray;
}

.NewComment {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}

.NewCommentBox {
  padding: 4%;
  width: 92%;
  height: 6vh;
  border-top: 1px solid;
  border-right: none;
  border-left: none;
  border-bottom: none;
  resize: none;
  overflow-y: auto;
  outline: none;
}

.NewCommentBox::-webkit-scrollbar {
  width: 0.5em;
}

.NewCommentBox::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.NewCommentBox::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

.NewCommentBox::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
form {
  margin-top: 10%;
}

.CommentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.CommentUser {
  font-weight: bold;
  margin: 0;
}

.CommentDate {
  font-size: 0.8em;
  margin: 0;
}

.CommentText {
  margin: 0;
  word-wrap: break-word;
}
