.downloadBTN {
  /* formatting */
  width: 120px;
  height: 45px;

  /* design */
  color: #ffffff;
  position: relative;
  font-size: 16px;
  font-family: Asap-Condensed-SemiBold;
  border-radius: 10px;
  transition: 0.3s;
  background-color: rgb(6, 31, 255);
}

.downloadBTN:hover {
  /* formatting */
  cursor: pointer;

  /* design */
  background-color: #a4161a;
  outline: #a4161a solid 2px;
}

.downloadBTN:disabled {
  /* design */
  color: #ffffff;
  position: relative;
  font-size: 16px;
  font-family: Asap-Condensed-SemiBold;
  border-radius: 10px;
  transition: 0.3s;
  background-color: rgb(132, 133, 136);
  outline: rgb(132, 133, 136);
}

.input {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Times;
  display: inline;

  padding: 6px;
  width: auto;
  min-width: 0;
  border: none;
}

.input2 {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Times;
  display: inline;

  padding: 6px;
  width: 400px;
  min-width: 0;
  border: none;
}

.input3 {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Times;
  display: inline;

  padding: 6px;
  width: 10px;
  min-width: 0;
  border: none;
}

.input4 {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Times;
  display: inline;

  /* padding: 6px; */
  width: 20px;
  min-width: 0;
  border: none;
}

input::placeholder {
  color: red;
}

.Description {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Times;
  display: inline;

  padding: 6px;
  width: 100%;
  min-width: 0;
  border: none;
}

@media print {
  .RemovePrint {
    display: none;
  }
  .header {
    display: none;
  }
  .Page {
    page-break-after: always;
  }
}

.MainDiv {
  margin: 5%;
}

.Center {
  text-align: center;
}
