@font-face {
  font-family: sspr;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

.Head {
  width: 100%;
  height: 10vh;
  background-color: #4f2683;

  display: flex;
  flex-wrap: nowrap;
  position: relative;

  color: white;
}

.WesternLogoMini {
  height: 80%;
  margin-left: 1.5%;
  margin-top: 0.5%;
  margin-bottom: 0.3%;
}

.OutlineManagerDiv {
  text-align: center;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.25vw;

  justify-content: center;
  max-width: fit-content;
  cursor: pointer;
}

.OutlineManager {
  font-size: 2vw;
  width: 15vw;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-family: sspr;
}

.LinkButtons {
  /* formatting */
  width: 120px;
  height: 45px;

  /* design */
  color: #ffffff;
  position: relative;
  font-size: 16px;
  font-family: sspr;
  border-radius: 10px;
  transition: 0.3s;
  background-color: rgb(6, 31, 255);
}

.RightDiv {
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: right;
  margin-right: 1vw;
  position: absolute;
  height: 9vh;
}

.UsernameDiv {
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  margin-bottom: 15%;

  font-size: 18px;
}

.logoutDiv {
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: -13%;
  /* margin-right: 105px; */
}

.logoutBtn {
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-family: sspr;
  font-size: 18px;
  transition: 0.3s;
}

.logoutBtn:hover {
  cursor: pointer;
  color: #797979;
}
