.square {
  /* formatting */
  width: 150px;
  height: 200px;
  margin: 10px;

  /* design */
  border-radius: 10px;
  border-style: solid;
  background-color: rgb(201, 200, 200);
  font-size: 20px;
  color: rgb(0, 0, 0);
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.square span {
  display: block;
  white-space: normal;
  text-overflow: initial;
}

.square:hover {
  /* formatting */
  cursor: pointer;

  /* design */
  background-color: #a4161a;
  outline: #a4161a solid 2px;
  color: white;
}
