.ApproveBtn {
  /* formatting */
  width: 120px;
  height: 45px;

  /* design */
  color: #ffffff;
  position: relative;
  font-size: 16px;
  font-family: Asap-Condensed-SemiBold;
  border-radius: 10px;
  transition: 0.3s;
  background-color: rgb(6, 31, 255);
}

.ApproveBtn:hover {
  /* formatting */
  cursor: pointer;

  /* design */
  background-color: #a4161a;
  outline: #a4161a solid 2px;
}
